body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    margin: auto;
}

#app{
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  /* grid-template-columns:  */
  height:100vh;
  background: #3456e0;
  color: #ffc94b;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.headline {
  background: rgba(59, 74, 107, .4);
  color: #ffc94b;
  text-align: center;
}

.holder{
  padding: 0 0.7em;
}
.zip,
.country {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entry{
  background: rgba(59, 74, 107, .4);
  min-height: 30%;
}

#entryHolder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "dt tm"
  "ct ct";
  padding: 0.5em 0.8em;

}

#date{
  grid-area: dt;
}

#temp{
  text-align: right;
  grid-area: tm;
}

#content{
  grid-area: ct;
}


.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{

}

input{
  width: 100%;
  max-width: 200px;
  background:#22b2da;
  color: #ffc94b;
  font-family: 'Oswald', sans-serif;
  border: none;

}

button{
  display: block;
  margin: auto;
  width: 70px;
  height: 30px;
  background: #037595;
  color: #ffc94b;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1{
  font-size: 36px;
}

textarea{
  width: 100%;
  background:#22b2da;
  color: #ffc94b;
  font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
  color: #ffc94b;
  font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffc94b;
  font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffc94b;
  font-family: 'Oswald', sans-serif;

}
